body {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #F5F5DC;
    color: ##F5F5DC;
    border-bottom: 20px solid #C1C1C1;
    border-radius: 10px;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    animation-name: example;
    animation-duration: 4s;

@keyframes example {
  from {background-color: #F5F5DC;}
  to {background-color: yellow;}
}


.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
